@charset "utf-8"; 

/*reset*/
body, div, section, article, header, aside, footer, video, audio, label, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, table, thead, tbody, tfoot, em, strong, span, th, td, a {margin:0; padding:0; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box}
table {width:100%; border-collapse:collapse; border-spacing:0; table-layout:fixed; word-break:break-all}
fieldset,img,button,input, select, textarea {border:0; font-family:inherit; background:none}
address, caption, cite, code, dfn, em, strong, th, var {font-style:normal; font-weight:normal}
ul,ol,li {list-style:none}
caption {font-size:1px; height:0; line-height:0; opacity:0}
h1, h2, h3, h4, h5, h6 {font-size:13px; font-weight:normal}
a {text-decoration:none; background-color:transparent}
button, label, a {cursor:pointer}
textarea {resize:none}
input,textarea {-webkit-user-select: text;user-select:text}
textarea,select,input[type=email],input[type=file],input[type=hidden],input[type=image],input[type=month],input[type=number],input[type=password],input[type=radio],input[type=reset],input[type=search],input[type=submit],input[type=tel],input[type=text],input[type=time],input[type=url],input[type=week],input[type=color],input[type=date],input[type=datetime],input[type=datetime-local] {outline:none;  -webkit-appearance:none; -moz-appearance:none; border-radius:0}
input:focus,select:focus,textarea:focus {outline: 0}

html,body {height:100%; line-height:1.2; font-size:13px}
body {min-width:320px;-webkit-text-size-adjust:none}


.section {min-height:500px}
<<<<<<< HEAD
=======

>>>>>>> 589c22a6ca22dcc6c2a895baf237c8c7476d418a
.footer {min-height:200px; padding:30px 0; text-align:center; background:#eee}
.footer_tit {padding-bottom:20px; font-size:20px}
.footer_tel {display:block; color:slateblue}

/*Toggle klist*/
.btn_toggle { padding:5px; font-size:16px; background-color: #eeeeee}
.checklist {position: relative; display: inline-block}
.list-content {display: none; position: absolute; background-color: #fff; min-width: 160px; border: 1px #000 solid; z-index: 1}
.list-content a {display: block; padding: 10px 16px; margin: 7px; background-color: #e3e3e3; color: black; text-decoration: none;}
.show {display:block}

<<<<<<< HEAD
=======

>>>>>>> 589c22a6ca22dcc6c2a895baf237c8c7476d418a
/*CheckBox*/
.wrap_list {position:relative; margin-top:10px; text-align:left; cursor:pointer; overflow:hidden;}
.warp_list:after{content:""; display: block; clear:both; }
.wrap_list input.check_box {position:absolute; top:10px; left:10px; opacity:0; cursor:pointer; z-index:5;}
.wrap_list i {float:left; position:relative; top:0; left:-5px; display:block; width:22px; height:22px; background:url(psd/checkbox.jpg)no-repeat left top; z-index:3}
.wrap_list label {float:left; margin-left:5px; cursor:pointer; font-size:16px; font-style: italic; font-weight: 700}
.wrap_list input.check_box:checked+i {background-position:left bottom;}





